{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html>

<head>
	<title>DunderAI</title>
	<link rel="stylesheet" type="text/css" href="{% static 'DunderQueryin/dunder_ai.css' %}">
</head>

<body>
	<div class="container">
		<h1>DunderAI</h1>
		<p>Submit your favorite quote from The Office- or try something new!</p>
		{% if character_prediction %}

		<div class="classifier_container">
			<div class="card">
				<h2 class="name">{{character_prediction}}, {{prediction_probability}}%</h2>
				<img id="predictedImage" src="{{ STATIC_PREFIX }}DunderQueryin/images/{{character_prediction}}.jpeg"
					alt="{{character_prediction}}">
			</div>
		</div>
		<blockquote class="user-quote">
			{{user_quote}}
		</blockquote>

		{% endif %}
		<form id="quote-form" action="{% url 'query' %}" method="post">
			{% csrf_token %}
			{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
			<label for="quote">Quote:</label>
			<textarea id="quote" name="quote" form="quote-form"></textarea><br>
			
			<div class="submit-button-pair">
				<div class="button b2" id="button-model">
					<input type="hidden" name="usingBERT" value="false"/>
					<input type="checkbox" name="usingBERT" id="select_model" class="checkbox" value="true"/>

					<div class="knobs">
						<span>LSTM</span>
					</div>
					<div class="layer"></div>
				</div>
				<input type="submit" value="Submit">
			</div>

		</form>
	</div>
</body>

</html>